# SQL III - View
## 1. Introduction
### What is a View?
A view is a reusable virtual table that is created by querying existing tables. The virtual table is not saved in memory. Instead, the query used for the view is saved with the name. Each time the view is used, a new query of that view is being executed. 

---

### Why Are Views Important?
- **Privacy**: views can limit the information shared by taking a subset of information from full tables
- **Reusability**: can make repetitive queries easier to write
- **Generalization**: can combine different sub categories into a larger category

---

### Normal Views vs Materialized Views
While normal views do not store the result of a query, materialized views store the results of a query into memory. This has the benefit of increasing the speed of data retrieval but at the cost of memory space and overhead from maintaining data consistency.

### Setup

In [ ]:
# Imports
from tabulate import tabulate
import psycopg2
import time

# Database connection parameters
dbname = 'banking_db'
user = 'postgres'
password = 'postgres'
host = 'postgres_db'  # This should be the service name defined in docker-compose.yml
port = '5432'  

# Establish connection to the PostgreSQL database
conn = psycopg2.connect(dbname=dbname, user=user, password=password, host=host, port=port)

# Create a cursor object to interact with the database
cur = conn.cursor()

## 2. Creating Views
#### We will be working with 3 tables, **agents**, **customer**, and **contractors**.


### 2.1 Privacy 
#### I want to give access to all employees in my company the name, working area, and phone number of all agents. 
#### However I don't want to share the agent code and commission. We can achieve this by creating a view.

In [ ]:
# Start the transaction
cur.execute("BEGIN TRANSACTION;")

try: 
    # Create view
    cur.execute("""
        CREATE VIEW public_agents AS 
        SELECT agent_name, working_area, phone_no
        FROM agents 
        """)
    
    # Commit the transaction to make changes permanent
    cur.execute("COMMIT;")
    
except Exception as e:
    # In case of error, rollback transaction
    print(f"Error: {e}")
    cur.execute("ROLLBACK;")

In [ ]:
# Query to fetch records from the accounts table
cur.execute("SELECT * FROM public_agents")

# Fetch all records from the result
records = cur.fetchall()

# Fetch column names
col_names = [desc[0] for desc in cur.description]

# Print the records in table format
print(tabulate(records, headers=col_names, tablefmt="grid"))

#### Employees can now be given access to the view **public_employees** without sharing sensitive information. 
--- 
### 2.2 Reusability 
#### I regularly have to make queries on the customers living in the US and India. To do this, I make a custom view that I can reuse for further queries.

In [ ]:
# Start the transaction
cur.execute("BEGIN TRANSACTION;")

# Resets the view
# cur.execute("DROP VIEW customers_USA_india")

try: 
    # Create view
    cur.execute("""
        CREATE VIEW customers_USA_india AS 
        SELECT cust_code, cust_name, cust_city, cust_country, grade, outstanding_amt, agent_code
        FROM customer 
        WHERE CUST_COUNTRY = 'USA' OR CUST_COUNTRY = 'India'
        """)
    
    # Commit the transaction to make changes permanent
    cur.execute("COMMIT;")
    
except Exception as e:
    # In case of error, rollback transaction
    print(f"Error: {e}")
    cur.execute("ROLLBACK;")

In [ ]:
# Query to fetch records
cur.execute("SELECT * FROM customers_USA_india")

# Fetch all records from the result
records = cur.fetchall()

# Fetch column names
col_names = [desc[0] for desc in cur.description]

# Print the records in table format
print(tabulate(records, headers=col_names, tablefmt="grid"))

#### Now that I have created my view, I can query it just like any table. For example, let's say that I want to find customers with a grade greater or equal to 2.

In [ ]:
# Query to fetch records
cur.execute("""
    SELECT * 
    FROM customers_USA_india
    WHERE grade >= 2
""")

# Fetch all records from the result
records = cur.fetchall()

# Fetch column names
col_names = [desc[0] for desc in cur.description]

# Print the records in table format
print(tabulate(records, headers=col_names, tablefmt="grid"))

#### We can continue querying the same view of the US and India customers. This time I want to check for any customers who have an outstanding balance over 3000 and residing in New York.

In [ ]:
# Query to fetch records
cur.execute("""
    SELECT * 
    FROM customers_USA_india
    WHERE outstanding_amt > 3000 AND cust_city = 'New York'
""")

# Fetch all records from the result
records = cur.fetchall()

# Fetch column names
col_names = [desc[0] for desc in cur.description]

# Print the records in table format
print(tabulate(records, headers=col_names, tablefmt="grid"))

### 2.3 Generalization
#### Generalization can help create views that combine two similar categories into one. In this example, we want to query a table containing both agents and contractors. To do this, we can combine the two tables into one view called **all_employees**.

In [ ]:
# Start the transaction
cur.execute("BEGIN TRANSACTION;")

try: 
    # Create view
    cur.execute("""
        CREATE VIEW all_employees AS 
        SELECT *
        FROM agents
        UNION
        SELECT * 
        FROM contractors
        """)
    
    # Commit the transaction to make changes permanent
    cur.execute("COMMIT;")
    
except Exception as e:
    # In case of error, rollback transaction
    print(f"Error: {e}")
    cur.execute("ROLLBACK;")

In [ ]:
# Query to fetch records 
cur.execute("SELECT * FROM all_employees")

# Fetch all records from the result
records = cur.fetchall()

# Fetch column names
col_names = [desc[0] for desc in cur.description]

# Print the records in table format
print(tabulate(records, headers=col_names, tablefmt="grid"))

### 3. Updatability 
####